<!-- Footer -->
<footer id="main-footer" class="hidden-print bar page-footer font-small special-color-dark darken-3">

  <!-- Social Elements -->
  <div class="container-fluid social">
    <div class="justify-content-center">
      <!-- GitHub -->
      <a class="p-2" href="https://github.com/abhishekmunie" target="_blank">
        <fa-icon [icon]="faGithub" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Linkedin -->
      <a class="p-2" href="https://in.linkedin.com/in/abhishekmunie" target="_blank">
        <fa-icon [icon]="faLinkedin" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Twitter -->
      <a class="p-2" href="https://twitter.com/abhishekmunie" target="_blank">
        <fa-icon [icon]="faTwitter" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Instagram -->
      <a class="p-2" href="https://www.instagram.com/abhishekmunie" target="_blank">
        <fa-icon [icon]="faInstagram" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Youtube -->
      <a class="p-2" href="https://www.youtube.com/AbhishekMunie" target="_blank">
        <fa-icon [icon]="faYoutube" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Facebook -->
      <a class="p-2" href="https://www.facebook.com/abhishekmunie.em" target="_blank">
        <fa-icon [icon]="faFacebook" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
      <!-- Email -->
      <a class="p-2" href="mailto:contact@abhishekmunie.com">
        <fa-icon [icon]="faEnvelope" size="3x" class="white-text mr-md-5 mr-3"></fa-icon>
      </a>
    </div>
  </div>
  <!-- Social Elements -->

  <div class="container-fluid">
    <!-- Grid row-->
    <div class="justify-content-center">
      <a id="html5-features" href="http://www.w3.org/html/logo/" target="_blank">
        <picture>
          <source type="image/webp"
            srcset="/assets/webp/ext/html5badge/html5-badge-h-connectivity-css3-graphics-multimedia-performance-semantics-storage.webp">
          <source type="image/jpeg"
            srcset="/assets/images/ext/html5badge/html5-badge-h-connectivity-css3-graphics-multimedia-performance-semantics-storage.png">
          <img height="36"
            src="/assets/images/ext/html5badge/html5-badge-h-connectivity-css3-graphics-multimedia-performance-semantics-storage.png"
            alt="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, Semantics, and Offline &amp; Storage"
            title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Graphics, 3D &amp; Effects, Multimedia, Performance &amp; Integration, Semantics, and Offline &amp; Storage">
        </picture>
      </a>
      <a href="/humans.txt" class="p-2" target="_blank">
        <picture>
          <source type="image/webp" srcset="/assets/webp/ext/humanstxt/humanstxt-transparent-color.webp">
          <source type="image/jpeg" srcset="/assets/images/ext/humanstxt/humanstxt-transparent-color.png">
          <img src="/assets/images/ext/humanstxt/humanstxt-transparent-color.png" alt="Humans.txt" height="31"
            width="88">
        </picture>
      </a>
      <a class="maclogo" href="https://apple.com/mac/" target="_blank">
        <fa-icon [icon]="faApple" size="2x" class="white-text mr-md-5 mr-3"></fa-icon><br />
        Created on a Mac
      </a>
      <div class="sponsor">
        <span>Powered by </span>
        <a id="cloudflare-powered" href="https://workers.cloudflare.com" target="_blank" title="Cloudflare Workers">
          <picture>
            <source type="image/webp" srcset="/assets/webp/ext/cloudflare/cf-logo-h-rgb-rev.webp">
            <source type="image/png" srcset="/assets/images/ext/cloudflare/cf-logo-h-rgb-rev.png">
            <img src="/assets/images/ext/cloudflare/cf-logo-h-rgb-rev.png" height="31"
              alt="Built with Cloudflare Workers" />
          </picture>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
