<div class="container">
  <div class="sky_back sky_background"></div>
  <div class="sky_back sky_midground"></div>
  <div class="sky_back sky_foreground"></div>
  <section class="section extra-margins text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Science & Technology</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Pages</p>

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/abhishekmunie.computer/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abhishekmunie.computer/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abhishekmunie.computer/">Computer - Abhishek Munie</a></blockquote></div> -->
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabhishekmunie.astronomy%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119876094728323"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--Grid column-->
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/abhishekmunie.computer/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abhishekmunie.computer/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abhishekmunie.computer/">Computer - Abhishek Munie</a></blockquote></div> -->
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabhishekmunie.physics%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119876094728323"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--Grid column-->
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/abhishekmunie.computer/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abhishekmunie.computer/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abhishekmunie.computer/">Computer - Abhishek Munie</a></blockquote></div> -->
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabhishekmunie.computer%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119876094728323"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/abhishekmunie.computer/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abhishekmunie.computer/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abhishekmunie.computer/">Computer - Abhishek Munie</a></blockquote></div> -->
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabhishekmunie.mathematics%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119876094728323"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--Grid column-->
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- <div class="fb-page" data-href="https://www.facebook.com/abhishekmunie.computer/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/abhishekmunie.computer/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/abhishekmunie.computer/">Computer - Abhishek Munie</a></blockquote></div> -->
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fabhishekmunie.chemistry%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119876094728323"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

  </section>
</div>
