<div id="MyContentContainer" class="outerBlocks rcContainer">
  <canvas class=SnowFall style="pointer-events:none;"></canvas>
  <!--Carousel Wrapper-->
  <div class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="view">
          <picture>
            <source type="image/webp" srcset="/assets/webp/home/carousel/00.webp">
            <source type="image/jpeg" srcset="/assets/images/home/carousel/00.jpeg">
            <img class="d-block" src="/assets/images/home/carousel/00.jpeg" alt="First slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/01.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/01.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/01.jpeg" class="lazyload" alt="Second slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/02.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/02.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/02.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/03.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/03.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/03.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/04.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/04.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/04.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/05.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/05.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/05.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/06.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/06.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/06.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/07.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/07.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/07.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <picture>
            <source type="image/webp" data-srcset="/assets/webp/home/carousel/08.webp">
            <source type="image/jpeg" data-srcset="/assets/images/home/carousel/08.jpeg">
            <img class="d-block" data-src="/assets/images/home/carousel/08.jpeg" class="lazyload" alt="Third slide">
          </picture>
          <div class="mask flex-center rgba-black-light">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Carousel Wrapper-->

  <section class="pageMainWrapper golden-box">
    <div class="dummy"></div>

    <div id=pageHome class=initHidden>
    </div>
  </section>

  <footer>
  </footer>
</div>
